button{
	border-radius: 5px;
}

h4{
	margin: 0;
}

#detail{
	width: 100%;
	height: auto;
}

.wrapper{
	width: 1000px;
	height: auto;
	margin: 0 auto 30px;
}

#lectureInfo{
	width: 100%;
	height: 440px;
	display: flex;
	justify-content: space-between;
	margin: 60px 0 40px;
}

#lectureInfo .imgBox{
	width: 40%;
}


#lectureInfo .detailBox{
	width: 50%;
}


.detailBox .infoTop{
	width: 100%;
}

.detailBox .infoTop{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.detailBox .infoTop .lectureInfo {
	width: 76%;
}

.detailBox .clipboard{
	width: 42px;
	height: 42px;
	cursor: pointer;
}

.detailBox .infoTop .lectureInfo .price{
	font-size: 1.6em;
	color: #13aa92;
	margin-bottom: 30px;
}

.detailBox .detailCreator{
	width: 100%;
	height: 50px;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
}

.detailBox h3{
	margin-bottom: 30px;
}


.detailBox .detailCreator li{
	float: left;
	margin-right: 30px;
}

.detailBox .detailCreator p{
	font-weight: 500;
	color: #555;
	font-size: 1em;
	line-height: 1.2em;
}

.detailBox .scheduleBox{
	width: 100%;
	height: 56px;
	margin: 30px 0;
}

#schedule{
	width: 100%;
	height: 46px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 0 10px;
}

#schedule:focus{
	outline: none;
}

.detailBox .btnBox{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

#btnZzim{
	width: 130px;
	height: 56px;
	border: 1px solid #13aa92;
	background: none;
}

#btnZzim:hover{
	background: #e5f8f5;
}

#zzim_cnt{
	display:inline-block;
	font-weight: 500;
	font-size: 18px;
	color: #13aa92;
}

#btnApply{
	width: 350px;
	height: 56px;
	background: #13aa92;
	border: none;
}

#btnApply h4{
	font-weight: 500;
	color: #fff;
	padding-top: 0.9em;
}

#btnApply:hover{
	background: #08917b;
}

#tab{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	border: 1px solid #ccc;
}

#tab > li{
	width: 25%;
	height: 50px;
	border-right: 1px solid #ccc;
	text-align: center;
}

#tab > li > a{
	width: 100%;
	height: 50px;
	color: #777;
	display: inline-block;
	font-size: 1em;
	font-weight: 500;
	padding-top: 0.9em;
}

#tab > li:last-child {
	border: none;
	color: #fff;
}

#tab .on{
	background: #13aa92;
	border: 1px solid #13aa92;
}

#tab .on > a{
	color: #fff;
}

#tab > li:hover{
	background: #e5f8f5;
}

#tab > li > a:hover{
	color: #13aa92;
}

article{
	height: auto;
	margin: 30px 0 100px;
}

#lec_content{
	height: 300px;
	margin-bottom: 100px;
	padding: 20px;	
}

#lec_content > div{
	text-align: center;
}


#lec_review .avgReview{
	width: 100%;
	height: 20px;
	display: flex;
	justify-content: space-between;
}


#lec_review .cntReview{
	display:block;
	font-weight: 400;
	padding-top: 10px;
}


#lec_review .reviewImg{
	padding: 30px 0 20px;
}

#lec_review ul{
	width: 100%;
	height: auto;
	margin: 40px 0;
}

#lec_review ul li{
	margin: 20px 0 10px;
}

#lec_review .reviewTop{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}

#lec_review .mem{
	width: 200px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#lec_review .mem .memProfile{
	width: 42px;
	height: 42px;
	border-radius: 70%;
	overflow: hidden;
	margin-right: 1em;
}

#lec_review .mem h4, #lec_review .reviewTop > h4{
	margin-bottom: 0;
}

#lec_review .star{
	width: 120px;
	height: 30px;
	display: block;
}

#lec_review .reviewContent{
	width: 100%;
	height: auto;
	padding: 20px 30px;
	background: #f5f5f5;
	margin: 20px 0 30px;
}

#lec_review .reviewContent h4{
	margin-bottom: 0;
}

#lec_ask .inputAsk{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#lec_ask .inputAsk .ask{
	outline: none;
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 20px;
}

#lec_ask .inputAsk .applyBox{
	width: 130px;
}


#lec_ask .inputAsk .applyBox input[type|='checkbox']{
	width: 1.2em;
	height: 1.2em;
	border: 1px solid #ccc;
	margin-right: 10px;
}
	
#lec_ask .inputAsk .applyBox input[type|='submit']{
	width: 130px;
	height: 56px;
	background: #13aa92;
	color: #fff;
	border: none;
	font-size: 1em;
	font-weight: 500px;
	margin-top: 12px;
	cursor: pointer;
}

#lec_ask .inputAsk .applyBox input[type|='submit']:hover{
	background: #08917b;
}

#lec_ask .listAsk li{
	border-bottom: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 10px;
}

#lec_ask .listAsk .userInfo{
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

#lec_ask .listAsk .userInfo h4, #lec_ask .listAsk .userInfo p{
	margin: 0;
}

#lec_cancle{
	width: 100%;
	height: auto;
	margin-bottom: 100px;
	padding: 0 20px;
}