header {
	width: 100%;
	height: 190px;
	border-bottom: 1px solid #eee;
}

header .headerwrap {
	width: 1080px;
	margin: 0 auto;
	padding-top: 30px;
}

#nevUser {
	height: 36px;
	background: #f5f5f5;
}

#nevUser .headerwrap {
	display: flex;
	justify-content: flex-end;
	padding: 8px 60px 0 60px;
	color: #777;
}



#nevUser .headerwrap .currentUser{
	margin-right: 30px;
}

#nevUser .headerwrap a {
	color: #777;
}


#recentKeyword{
	width: 100%;
	height: 200px;
	background: #fff;
	position: absolute;
	height: 200px;
	z-index: 1000;
	top: 120px;
	padding: 20px;
	box-shadow: 0 8px 10px 0 rgb(0 0 0 / 10%);
	display:none;
}

#recentKeyword .headerwrap {
	padding: 8px 60px 0 60px;
	color: #777;
}

#recentKeyword .headerwrap .top{
	display: flex;
	justify-content: space-between;
}

#recentKeyword .deleteAll{
	display: block;
	cursor: pointer;

}

#recentKeyword .headerwrap .recent > li{
	float: left;
	margin-right: 10px;
	border-radius: 30px;
	border: 1px solid #ccc;
	height: 1em;
	padding: 4px 10px;
	line-height: 1em;
	cursor:pointer;
}
#recentKeyword .headerwrap .recent > li:hover{
	background: #13aa92;
	color: #fff;
	border-color: #13aa92;
}

#navTop {
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
}

#navTop h1 {
	width: 120px;
	height: 40px;
	cursor: pointer;
}

#navTop h1>a {
	width: 120px;
	height: 40px;
}

.search {
	width: 360px;
	height: 40px;
	background: #f5f5f5;
	border-radius: 40px;
	position: relative;
}

.search input {
	width: 360px;
	height: 40px;
	background: #f5f5f5;
	border-radius: 40px;
	border: none;
	color: #555;
	font-size: 0.9em;
	padding-left: 1em;
}

#keyword:focus {
	color: #333;
	font-weight: 600;
	outline: none;
	box-shadow: 0 0 0 1px #13aa92;
}

input[name='search']::placeholder {
	color: #ccc;
	font-size: 14px;
}

.search .ic_search {
	width: 22px;
	height: 22px;
	background: url(../images/main/ic_search.png) center center no-repeat;
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}

.navTop .gnbIcons {
	width: 220px;
	height: 42px;
}

.gnbIcons>li {
	width: 42px;
	height: 42px;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
}

.gnbIcons > li > div{
	width: 42px;
	height: 42px;
	border-radius: 42px;
}

#category{
	width: 1050px;
	height: 200px;
	position: absolute;
	top: 191px;
	z-index:1000;
	display: none;
}

#category ul{
	height: 160px;
	background: #fff;
	padding: 20px 40px;
	margin-left: 30px;
	box-shadow: 8px 8px 16px 0 rgb(0 0 0 / 10%);
}

#category > ul > li {
	float: left;
	width: 230px;
	margin: 1em 0;
}

#category > ul > li > a{
	display: block;
	width: auto;
	height: 1em;
	color: #777;
}


#category > ul > li > a:hover{
	color: #13aa92;
}

nav {
	width: 100%;
	padding: 20px 0;
}

nav ul {
	height: 42px;
	display: flex;
	justify-content: space-around;
}

nav ul>li {
	align-items: center;
	padding-top: 8px;
	margin-left: -20px;
}

nav ul>li>a {
	color: #555;
	text-decoration: none;
	font-size: 18px;
}

nav ul>li>a:hover {
	font-weight: 500;
	color: #13aa92;
}

nav ul>li:first-child {
	width: 32px;
	height: 32px;
	background: url(../images/main/ic_menu.png) 0 0 no-repeat;
	cursor: pointer;
}

nav ul>li:last-child {
	margin-right: 50px;
}

/* ------------------- header end -------------------- */

#fixed {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 50px;
	bottom: 120px;
	z-index: 9999;
	cursor: pointer;
}

#btn_top {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 50px;
	bottom: 50px;
	z-index: 9999;
	transition: all 1s;
}

/* ---------------- fixed button end -----------------*/

#chat{
	width: 400px;
	height: 500px;
	border: 1px solid #ccc;
	background: #fff;
	z-index: 99999;
	box-shadow: 8px 8px 16px 0 rgb(0 0 0 / 10%);
	position: fixed;
	bottom: 100px;
	right: -100px;
	display:none;
}

#chat .chatTop{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #13aa92;
	color: #fff;
	text-align: center;
}

#chat .chatTop h4{
	color:#fff;
}


#chat .chatTop .btnClose{
	width: 24px;
	height: 24px;
	position:absolute;
	top: 10px;
	right: 20px;
	border: none;
	background: none;
}

#chat .showMsg{
	width: 100%;
	height: 400px;
	overflow-y: auto;
}

#chat .inputMsg{
	width: 100%;
	height: 60px;
	padding : 10px 1em;
	background: #f4f4f4;
}

#chat .inputMsg input{
	width: 78%;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-left: 10px;
}

#chat .inputMsg button{
	width: 15%;
	height: 40px;
	border: none;
	border-radius: 5px;
	background: #13aa92;
	color: #fff;
	margin-left: 5px;
}


#chat p{
	padding: 0 1em;
}

#chat .send{
	text-align:right;
}
/* ---------------- chatting end --------------------------*/

footer {
	width: 100%;
	height: 100px;
	background: #f5f5f5;
}

footer .ftWrap {
	width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}

.ftWrap h1 {
	width: 112px;
	height: 38px;
	background: url(../images/main/logo_ft.png) 0 0 no-repeat;
	padding-bottom: 10px;
}

.ftWrap ul {
	width: 700px;
	height: 30px;
}

.ftWrap ul>li {
	color: #aaa;
	float: left;
	margin-right: 30px;
	padding-right: 30px;
	border-right: 1px solid #aaa;
}

.ftWrap ul>li:last-child {
	border: none;
	padding-right: 0;
	margin: 0;
}

/* ------------------- footer end -------------------- */