#content {
  width: 100%;
  height: auto;
}

#content .wrap {
  width: 1000px;
  margin: 30px auto;
}

#content .title {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#sort {
  width: 80px;
  height: 20px;
  border: none;
}

section .lectures {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.lectures .lecture {
  width: 240px;
  margin-bottom: 70px;
  margin-right: 10px;
}

.lectures .lecture:nth-child(n/4){
	margin-right: 0;
}

.lectures .lecture .img_lecture {
  width: 240px;
  height: 240px;
  overflow: hidden;
}

.lectures .lecture:hover .img_lecture > img {
  transform: scale(1.1);
  transition: all 1s;
}

.lectures .lecture p {
  width: 100%;
  line-height: 1.75;
  font-weight: 500;
  color: #555;
}

.lectures .lecture h4 {
  margin-bottom: 1em;
}

.lecture .star > img {
  padding-top: 1px;
}

.lecture .star .rw_total {
  font-size: 14px;
  color: #777;
  margin-left: 4px;
  padding-bottom: 10px;
}

.pager {
  width: 100%;
  height: 30px;
  text-align: center;
}

.pager > span {
  width: 30px;
  height: 30px;
  color: #777;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}

.pager > span:nth-child(2) {
  color: #13aa92;
}

#wrapper {
    position: relative;
    width: 100%;
}

#contentheader {
	position: relative;
	margin: 30px auto;
	width: 1000px;
	margin-top: 60px;
}

#profile {
	position: absolute;
}

.nickname {
	position: relative;
	left: 100px;
	font-size: 28px;
}

.modify {
	position: relative;
	left: 300px;
	bottom: 65px;
}

#modify_btn {
    width: 60px;
    height: 26px;
    border: solid 1px #cccccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    font-size: 15px;
    font: Noto Sans KR;
    color: #777777;
    text-align: center;
}

.email {
	position: absolute;
	left: 100px;
	font-size: 14px;
	font-weight: normal;
	color: #777777;
	top: 50px;
}

#notification {
	position: absolute;
	z-index: 9999;
	right: 0px;
	cursor: pointer;
}

#tabwrap {
	position: relative;
	width: 100%	;
	height: 88px;
	margin-top: 30px;
}

.tab button {
	float: left;
	width: 333px;
	height: 44px;
	text-align: center;
	font-size: 16px;
	background: #f5f5f5;
	border: none;
	cursor: pointer;
	color: #777777;	
	z-index: 9999;
}

.tab button:hover {
	color: #ffffff;
	background: #13aa92;
}

#btn1 {
	color: #ffffff;
	background: #13aa92;
	border-right: solid 1px #eeeeee;
	border-bottom: solid 1px #eeeeee;
}

#btn2 {
	border-left: solid 1px #eeeeee;
	border-right: solid 1px #eeeeee;
	border-bottom: solid 1px #eeeeee;
}

#btn3 {
	border-left: solid 1px #eeeeee;
	border-bottom: solid 1px #eeeeee;
}

#btn4 {
	border-right: solid 1px #eeeeee;
	border-top: solid 1px #eeeeee;
}

#btn5 {
	border-left: solid 1px #eeeeee;
	border-right: solid 1px #eeeeee;
	border-top: solid 1px #eeeeee;
}

#btn6 {
	border-left: solid 1px #eeeeee;
	border-top: solid 1px #eeeeee;
}

#getMemberInfoForm{
	width: 750px;
	height: auto;
	margin: 0 auto 60px;
}

#myBoardForm,#MyReviewForm, #updateMyReviewForm, #myReviewForm{
	width: 750px;
	height: 750px;
	margin: 0 auto;
	padding: 80px;
	font-size: 22px;
}

#updateMemberInfoForm{
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	padding: 80px;
	font-size: 22px;
}

#updateInfoBtn, #deleteInfoBtn, #getupdateInfoBtn, #backMyPageBtn,
#backReviewListBtn, #updateReviewBtn, #updateReviewBtn, #resetReviewBtn
,#writeMyReviewBtn,#resetMyReviewBtn
{
	font-size: 20px;
	color:#ffffff;
	text-decoration: none;
	border-radius: 5px;
	border: 1px solid;
	background: #13aa92;	
}

#updateInfoBtn{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#MemberInfo{
	font-size: 20px;
	color:#777777;
}

#updateMemberInfo{
	font-size: 30px;
	color:#777777;
	text-align: center;
}

#input[type="text"]{
	width: 20px;
	height: 20px;
	background-color: #777777;
	border-radius: 5px;
}

#mem_pwd, #mem_nickname, #mem_phone, #mem_email

{
	width: 200px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid;
	color: #777777;
	background-color: #ffffff;
}

#re_title,#re_title{
	width: 500px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid;
	background-color: #ffffff;
}

#re_grade, #re_grade{
	width: 50px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid;
	text-align: center;
}

.option{
	width: 200px;
	height: 25px;
	border-radius: 5px;
	border: 1px solid;
	color: #777777;
	background-color: #ffffff;
}

table{
	width: 80%;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: none;
	border-right: none; 
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
	padding: 120px;
}

th,td{
	border-bottom: 1px solid #cccccc;
	border-left: none;
	border-right: none; 
	padding: 10px;
}

th{
	background-color: #f5f5f5;
	width: 60px;
}

td{
	width: 50px;
}

#listMyBoard, #listMyLecture, #writeMyBoard, 
#myZzimLecture, #listMyReview,#writemyReview,
#myReview,#updateMyReview
{
	color: #777777;
	text-align: center;
	font-size: 30px;
}

#updateProfileImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.reviewForm, .updateMember, .myboard{
	border-bottom: 1px solid #ccc;
	padding: 10px 10px;
	font-size: 18px;
}
#brd_content{
	font-size: 18px;
}
textarea{
	font-size: 14px;
    font: Noto Sans KR;
}