<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="detail">
  <select id="getAskInfo" resultType="askVo">
  	select ask_no, ask_content, ask_date, ask_open_close, ask_status, mem_nickname from ask a, member m where a.mem_no=m.mem_no and ask_no=#{ask_no}
  </select>

	<select id="getAnswer" resultType="answerVo">
  	select ans_no, ans_content, ans_date, ans_open_close, cr_no, ask_no from answer where ask_no=#{ask_no}
  </select>
	
</mapper>